<div class="container">
    <div class="row row-c">
      <div class="col-sm-9 pb-2">
      
        <!-- map -->
        <mgl-map *ngIf="coordinates"
        [style]="'mapbox://styles/mapbox/streets-v9'"
        [zoom]="[1]"
        [center]="[0, 0]"
        [scrollZoom]="true"
        >
          <mgl-marker *ngFor="let coordinate of coordinates" [lngLat]="[coordinate.longitude, coordinate.latitude]">
            <app-pin-svg *ngIf="coordinate.isShown" [iconColor]="coordinate.markerColor"></app-pin-svg>
          </mgl-marker>
        </mgl-map>

      </div>
      
      <div class="col-sm-3 pb-2">
        
          <!--form -->
          <form [formGroup]="mainFormGroup" (ngSubmit)="onSubmit()">
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="sr-only" for="amountOfMarkers"></label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Markers</div>
                    </div>
                    <input type="number" min="0" id="amountOfMarkers" formControlName="amountOfMarkers" class="form-control input-c">
                  </div>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-warning mb-2">Fetch</button>
                </div>
              </div>
          </form>

          <br>

          <!-- legends -->
          <app-legends [legends]="legends" (checkedLegends)="onCheckedLegends($event)"></app-legends>
          <div class="d-flex justify-content-center">
            <button type="button" (click)="onSubmit()" class="btn btn-dark mx-auto">Refresh</button>
          </div>
      </div>

    </div>
  </div>





