<table class="table table-sm" *ngIf="legends">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Hemisphere</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let legend of legends">
        <th scope="row">
          <input type="checkbox" name="legends" 
          value="legend.color" [checked]="legend.isChecked"
          (change)="onLegendChecked(legend, $event)"
          />
        </th>
        <td [ngStyle]="{'background': legend.color}" class="p-2"></td>
        <td>{{legend.title}}</td>
        <td>{{legend.count}}</td>
      </tr>
    </tbody>
  </table>