<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

    <!-- logo -->  
    <a class="navbar-brand text-link-c" routerLink="/">
      <app-pin-svg iconColor="rgba(228,155,36,1)"></app-pin-svg>
      MapAnything Assessment
    </a>

    <!-- toggler --> 
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"
        (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    
    <!-- menu -->
    <!-- <div id="navbarSupportedContent" [ngClass]="{'collapse': !collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-link-c" routerLink="/">Assessment 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-link-c" routerLink="/">Assessment 2</a>
            </li>
        </ul>
    </div> -->

</nav>   