/* You can add global styles to this file, and also import other style files */
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";

/*
============ FONTS ===========
font-family: 'Source Sans Pro', sans-serif;
*/
html,body {
    background: #DCD7CD; /* rgb(188, 193, 199); */
    font-family: 'Source Sans Pro', sans-serif;
    /* ---  FULL HEIGHT OF THE PAGE --- */
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
}